
h1 {
    text-align: center;
    font-size: 400%;
}

h2 {
    text-align: center;
    font-size: 300%;
    margin-top: 40px;
}

h3 {
    border-bottom: 3px solid black;
    max-width: 90%;
    margin: 20 auto;
    text-align: center;
}

img {
    height: 200px;
    width: 200px;
}

.card {
    justify-content: center;
}

#yourAttackText {

    margin-top: 100px;
}

.btn {
    margin: 40 auto 20 auto;
    width: 100%;
}

#button-div {

    justify-content: center;
    text-align: center;

}

.fighters-row {
    justify-content: space-evenly;
    text-align: center;
}

#combat-zone .fighters-row .card {
    justify-content: center;
    margin: 0 auto;
}

